* {
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
}

.game-wrap {
  position: relative;
  width: 400px;
  margin: 0 auto;
}

.game-canvas {
  border: 3px solid;
  margin: auto;
  display: block;
  background-color: white;
}

.message {
  width: 400px;
  height:300px;
  display: none;
  margin: 0 auto;
  position: absolute;
  top: 3px;
  left: 3px;
}

.level-pass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Orbitron', sans-serif;
  font-weight: 800;
  background-color: rgba(255, 255, 255, .8);
}

.game-over,
.winner {
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0 5px 0;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 55px;
}

.game-over {
  background-color: rgba(255, 255, 255, .8);
  background-image: url("images/gameover.jpg");
}

.winner {
  justify-content: space-between;
  background-image: url('http://www.clipartkid.com/images/472/drinking-beer-clip-art-bigstock-retro-beer-guy-clip-art-17343080-jpg-rVj2yW-clipart.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
}

.winner h1 {
  font-family: 'Orbitron', serif;
}

.start-game,
.start-new-game {
  padding: 7px 15px 5px;
  background-color: firebrick;
  color: #fff;
  cursor: pointer;
  border-style: none;
  border-radius: 5px;
  font-family: 'Orbitron', sans-serif;
}

.game-stats {
  display: flex;
  justify-content: space-between;
}

.lives,
.score {
  font-family: 'Orbitron', serif;
}
